---
import Layout from '@layouts/Layout.astro';
import SvelteHeatmap from '@components/data-viz/Heatmap.svelte';
---

<Layout>
  <h1 class="pb-6 text-4xl font-medium text-slate-900">Heatmap</h1>
  <div>
    <SvelteHeatmap />
  </div>
</Layout>
