---
import Layout from '@layouts/Layout.astro';
import SvelteMarginalHistogram from '@components/data-viz/MarginalHistogram.svelte';
---

<Layout>
  <h1 class="pb-6 text-4xl font-medium text-slate-900">Marginal Histogram</h1>
  <div>
    <SvelteMarginalHistogram />
  </div>
</Layout>
