---
import BaseHead from '@components/BaseHead.astro';
import Contours from '@components/data-viz/RandomContours.svelte';

const title = 'Contours';
const description = 'Random contours from D3';
---

<html lang="en" class="h-full antialiased">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex h-full items-center justify-center">
    <Contours client:only />
  </body>
</html>
